<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Panel</a>

<<<<<<< HEAD
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> Username
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profil</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
=======
      <div class="pull-right">
        <ul class="nav">
          <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> Wyloguj się</a></li>
>>>>>>> a4a20eb5309ccab523c5c4622161069e3e91b54c
        </ul>
      </div>

      <div class="nav-collapse">
        <ul class="nav">
<<<<<<< HEAD
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
        </ul>
      </div><!--/.nav-collapse -->
=======
        </ul>
      </div>
>>>>>>> a4a20eb5309ccab523c5c4622161069e3e91b54c
    </div>
  </div>
</div>